#map {
    width: 100%;
    height: 500px;
}

.textbox {
    padding-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
    .about-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "about map"
        "credits map";
    }

    .about {
        grid-area: about;
    }

    .credits {

    }

    #map {
        height: calc(100vh - 100px);
        grid-area: map;

    }

   
}


