.rotate-clockwise {
        -webkit-animation: rotate-clockwise 30s linear infinite both;
                animation: rotate-clockwise 30s linear infinite both;
}

 @-webkit-keyframes rotate-clockwise{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-clockwise{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

 .rotate-counter-clockwise {
    -webkit-animation: rotate-counter-clockwise 30s linear infinite both;
            animation: rotate-counter-clockwise 30s linear infinite both;
}

@-webkit-keyframes rotate-counter-clockwise{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}}@keyframes rotate-counter-clockwise{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}}