.hero {
    display: grid;
    grid-template-areas:
    "img"
    "text1"
    "text2";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;

    height: calc(100vh - 100px);
   
    justify-items: center;
    align-items: center;
}


.img-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    width: min(400px, 100%);
    height: fit-content;
    margin: 0 auto;
    grid-area: img;
}

.star {
    position: relative;
    width: 80%;
}

.img-on-top {
    position: absolute;
    z-index: 1;
   margin: auto;
   top: 0; left: 0; bottom: 0; right: 0;
    width: 60%;

}

.title {
    font-family: "Young Serif";
    color: var(--main-color);
    font-size: 50px;
    margin: 0;
    justify-self: start;

}

.text1 {
    grid-area: text1;
    align-self: end;

}

.text2 {
    grid-area: text2;
    align-self: start;

}


@media only screen and (min-width: 1000px) {
    .hero {
        grid-template-areas:
        "text1 text1"
        "img text2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.5fr;
    }

    .title {
        font-size: 70px;

    }

    .text1 {
        justify-self: start;
        align-self: end;
    }

    .text2 {
    }

    .img-container {
        max-width: 350px;
        justify-self: end;
        align-self: start;
        margin: 0;
        margin-right: -50px ;
    }

}